.post-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-evenly;

}


.loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.container {
    background-color: #ebf5f3;


}