.list-item{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    width: 350px;
    height: 600px;
    font-size: 20px;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
}
.profile{
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    height: 180px;
}

.btn{
    height: 40px;
    width: 100px;
    background-color: blue;
    outline: none;
    cursor: pointer;
    border: none;
    color: white;
    border-radius: 10px;
    font-family: sans-serif;
    margin-top: 10px;
}

