.comment-container {
    background-color: rgb(244, 243, 243);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    transition: box-shadow 0.4s ease-out;
    width: 380px;
}

@media only screen and (max-width:600px) {
    .comment-container {
        width: 80vw;
    }
}

.comment-container:hover {
    box-shadow: 0 12px 20px 2px rgb(134, 133, 133);
    transition: box-shadow 0.6s ease-out;
}