.ul-items {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

* {
    font-family: 'Courier New', Courier, monospace;
}

.container-box {
    border-radius: 10px;
    width: 50vw;
    background-color: rgb(243, 242, 242);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    height: fit-content;
    /* 🔑 force content height */

}

.loading-pi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

}



.top-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    background-color:  #9dd3c8;
}

.ul-items-post {
    width: 40vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ul-items-similar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.display-flex {
    display: flex;
    justify-content: space-between;
}

.box-profile {
    background: linear-gradient(#7b59f7, #7657e6);
    display: flex;
    flex-direction: column;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    justify-content: center;
    color: white;
    align-items: center;
    height: 20vh;
}

.heading {
    font-size: 25px;
}

.container-info {
    padding: 10px;
}

.flex {
    display: flex;
    font-size: 23px;
    margin-top: 18px;

}

.flex-head {
    margin-left: 8px;
}

.content {
    margin-top: 10px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
}

.content-heading {
    font-size: 18px;
    color: #9da3a3;
    font-weight: bolder;
    padding-bottom: 10px;
}

.content-para {


    padding-bottom: 10px;
    font-size: 18px;
}

.bottom-container {
    display: flex;
    flex-direction: column;
    width: 45%;

}

@media only screen and (max-width: 600px) {
    .display-flex {
        flex-direction: column;
    }

    .container-box {
        width: 90vw;
        margin-bottom: 10px;


    }

    .bottom-container {
        width: 90vw;
    }

    .ul-items-post {
        width: 100%;
        justify-content: center;
    }
}