.post-item{
    background-color: #f7fafa;
    border: 1px solid ;
    border-radius: 5px;
    padding: 16px;
    margin: 10px;
    width: 370px;
    font-size: 13px;
    font-family: 'Courier New', Courier, monospace;
}
.profile-container{
    display: flex;
    align-items: center; 
    margin-bottom: 5px;
    font-size: 13px;
    cursor: pointer;
    
}
.h7{
    font-size: 15px;
    margin-bottom: 10px;
}

