.post-item:hover {
    box-shadow: 0 5px 15px #707070;
    transition: box-shadow 0.4s ease-out;
}


.post-item {
    background-color: #f7fafa;
    border: 1px solid;
    border-radius: 5px;
    padding: 16px;
    transition: box-shadow 0.4s ease-out;
    margin: 10px;
    list-style-type: none;

    width: 370px;
    font-size: 13px;
    font-family: 'Courier New', Courier, monospace;

}

.icon-repost:hover {
    transform: rotate(180deg);
    transition: transform 0.6s ease-out;



}

.icon-repost {
    transition: transform 0.6s ease-out;
    display: inline-block;
    cursor: pointer;

}

.icon-shake {
    cursor: pointer;
}


.icons {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.profile-container {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-size: 13px;
    cursor: pointer;

}

.h7 {
    font-size: 15px;
    margin-bottom: 10px;
}


@media only screen and (max-width:600px) {
    .post-item {
        width: 80vw;
    }
}