.com-top-container {

    display: flex;
    flex-direction: column;

    align-items: center;
    background-color: #ebf5f3;
    min-height: 100vh;


}

.loading {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}